CompileFlags:
  Add:
    - --target=x86_64-pc-windows-msvc
    - -fms-compatibility
    - -fms-extensions
    # This is just to satisfy nvim LSP to suppress incorrect missing definition
    # warnings due to the nature of unity build.
    - -DLSP_MODE=1
    - -I/home/spenser/.xwin/crt/include
    - -I/home/spenser/.xwin/sdk/include/shared
    - -I/home/spenser/.xwin/sdk/include/ucrt
    - -I/home/spenser/.xwin/sdk/include/um
    - -I/home/spenser/.xwin/sdk/include/winrt
